*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: poppins;
    display: grid;
    font-size: 18px;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    transform: bold;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: white;
    background-color: teal;
}

.footer > * {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img {
    width: 30%;
}

h2 {
    font-weight: 600;
    padding-left: 0;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-right li {
    line-height: 2em;
}

.footer-left p {
    padding-right: 20%;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: white;
}

.footer-bottom {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.socials a {
    background: grey;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.socials a i {
    color: turquoise;
    padding: 10px;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .footer-right > * {
        flex: 1;
    }
    
    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }

    
}

@media (max-width:600px){
    .footer {
        padding: 15px;
    }

    main {
        font-size: 55px;
    }

    .footer {
        padding: 30px 0 0 30px;
    }
}